.chat {
    background-color: #333;
    border-radius: 5px;
    min-width: 150px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2%;
    box-sizing: border-box;
    border: 1px solid #111;
    box-shadow: 1px 1px 20px #222;
}

.chat textarea {
    resize: vertical;
    min-height: 40px;
    max-height: 200px;
    border-radius: 5px;
    overflow: hidden;
    outline: none;
    background-color: #555;
    color: #eaeaea;
    overflow-y: auto;
    scrollbar-color: #333;
    scrollbar-width: thin;
}

.chat input {
    outline: none;
    border-radius: 20px;
    border: none;
    background-color: #555;
    color: #eaeaea;
    width: 100%;
}

.chat button {
    background-color: #555;
    color: #eaeaea;
    outline: none;
    border: none;
    border-radius: 20px;
}

.chat button:hover {
    border: 1px solid #333;
    color: #555;
    background: #fafafa;
    cursor: pointer;
}